.markdown-body h1, .markdown-body h2 {
  border-color: #5a67d8;
}

.markdown-body blockquote {
  background-color: #ebf4ff;
  border-color: #7f9cf5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #667eea;
}

.markdown-body strong {
  color: #5a67d8;
}

.markdown-body code, .markdown-body a {
  color: #5a67d8;
}

.markdown-body a {
  border-color: #667eea;
}

.markdown-body code {
  background-color: #ebf4ff;
}

.markdown-body.indigo h1, .markdown-body.indigo h2 {
  border-color: #5a67d8;
}

.markdown-body.indigo blockquote {
  background-color: #ebf4ff;
  border-color: #7f9cf5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #667eea;
}

.markdown-body.indigo strong {
  color: #5a67d8;
}

.markdown-body.indigo code, .markdown-body.indigo a {
  color: #5a67d8;
}

.markdown-body.indigo a {
  border-color: #667eea;
}

.markdown-body.indigo code {
  background-color: #ebf4ff;
}

.markdown-body.red h1, .markdown-body.red h2 {
  border-color: #e53e3e;
}

.markdown-body.red blockquote {
  background-color: #fff5f5;
  border-color: #fc8181;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #f56565;
}

.markdown-body.red strong {
  color: #e53e3e;
}

.markdown-body.red code, .markdown-body.red a {
  color: #e53e3e;
}

.markdown-body.red a {
  border-color: #f56565;
}

.markdown-body.red code {
  background-color: #fff5f5;
}

.markdown-body.blue h1, .markdown-body.blue h2 {
  border-color: #3182ce;
}

.markdown-body.blue blockquote {
  background-color: #ebf8ff;
  border-color: #63b3ed;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #4299e1;
}

.markdown-body.blue strong {
  color: #3182ce;
}

.markdown-body.blue code, .markdown-body.blue a {
  color: #3182ce;
}

.markdown-body.blue a {
  border-color: #4299e1;
}

.markdown-body.blue code {
  background-color: #ebf8ff;
}

.markdown-body.orange h1, .markdown-body.orange h2 {
  border-color: #dd6b20;
}

.markdown-body.orange blockquote {
  background-color: #fffaf0;
  border-color: #f6ad55;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #ed8936;
}

.markdown-body.orange strong {
  color: #dd6b20;
}

.markdown-body.orange code, .markdown-body.orange a {
  color: #dd6b20;
}

.markdown-body.orange a {
  border-color: #ed8936;
}

.markdown-body.orange code {
  background-color: #fffaf0;
}

.markdown-body.green h1, .markdown-body.green h2 {
  border-color: #38a169;
}

.markdown-body.green blockquote {
  background-color: #f0fff4;
  border-color: #68d391;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #48bb78;
}

.markdown-body.green strong {
  color: #38a169;
}

.markdown-body.green code, .markdown-body.green a {
  color: #38a169;
}

.markdown-body.green a {
  border-color: #48bb78;
}

.markdown-body.green code {
  background-color: #f0fff4;
}

.markdown-body.purple h1, .markdown-body.purple h2 {
  border-color: #805ad5;
}

.markdown-body.purple blockquote {
  background-color: #faf5ff;
  border-color: #b794f4;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #9f7aea;
}

.markdown-body.purple strong {
  color: #805ad5;
}

.markdown-body.purple code, .markdown-body.purple a {
  color: #805ad5;
}

.markdown-body.purple a {
  border-color: #9f7aea;
}

.markdown-body.purple code {
  background-color: #faf5ff;
}

.markdown-body.pink h1, .markdown-body.pink h2 {
  border-color: #d53f8c;
}

.markdown-body.pink blockquote {
  background-color: #fff5f7;
  border-color: #f687b3;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #ed64a6;
}

.markdown-body.pink strong {
  color: #d53f8c;
}

.markdown-body.pink code, .markdown-body.pink a {
  color: #d53f8c;
}

.markdown-body.pink a {
  border-color: #ed64a6;
}

.markdown-body.pink code {
  background-color: #fff5f7;
}

.popup-arrow {
  color: #a0aec0;
}

.bytemd {
  height: calc(100vh - 45px);
  margin: 0 1px;
}

.markdown-body {
  color: #595959;
  font-size: 16px;
  line-height: 1.8em;
  background-image: linear-gradient(90deg,rgba(60,10,30,.05) 3%,transparent 0),linear-gradient(1turn,rgba(60,10,30,.05) 3%,transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
  word-break: break-all;
}

.markdown-body blockquote, .markdown-body details, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul {
  margin-bottom: 1rem;
}

.markdown-body ol {
  list-style: decimal;
}

.markdown-body ul {
  list-style: disc;
}

.markdown-body ol, .markdown-body ul {
  padding-left: 2em;
}

.markdown-body h1, .markdown-body h2 {
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  font-weight: 500;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: 1px solid #eaecef !important;
  border-left-width: 6px;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin-bottom: 16px;
  line-height: 1.25;
}

.markdown-body blockquote {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: .25em solid;
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body blockquote>:first-child {
  margin-top: 0;
}

.markdown-body strong {
  font-weight: bold;
}

.markdown-body strong::before {
  content: '「';
}

.markdown-body strong::after {
  content: '」';
}

.markdown-body code, .markdown-body a {
  font-weight: 500;
}

.markdown-body code,
.markdown-body a {
  font-size: unset;
}

.markdown-body a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.markdown-body .footnote-ref {
  border-width: 0px;
}

.markdown-body code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.markdown-body pre > code {
  font-weight: 400;
  color: unset;
  line-height: 1.6;
}

.markdown-body picture img {
  border-radius: 6px;
  display: block;
  margin: 10px auto;
  -o-object-fit: contain;
  object-fit: contain;
  box-shadow: 2px 4px 7px #999;
}

.markdown-body picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.markdown-body blockquote {
}

.markdown-body pre,
.markdown-body pre code.hljs {
  display: block;
  overflow-x: auto;
  color: #abb2bf;
  background: #282c34;
  padding: 0;
}

.markdown-body pre code.hljs {
  padding: 12px;
  padding-top: 6px;
}

.markdown-body pre::before {
  content: '';
  display: block;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDU0IDE0Ij4KICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMSkiPgogICAgPGNpcmNsZSBjeD0iNiIgY3k9IjYiIHI9IjYiIGZpbGw9IiNGRjVGNTYiIHN0cm9rZT0iI0UwNDQzRSIgc3Ryb2tlLXdpZHRoPSIuNSIvPgogICAgPGNpcmNsZSBjeD0iMjYiIGN5PSI2IiByPSI2IiBmaWxsPSIjRkZCRDJFIiBzdHJva2U9IiNERUExMjMiIHN0cm9rZS13aWR0aD0iLjUiLz4KICAgIDxjaXJjbGUgY3g9IjQ2IiBjeT0iNiIgcj0iNiIgZmlsbD0iIzI3QzkzRiIgc3Ryb2tlPSIjMUFBQjI5IiBzdHJva2Utd2lkdGg9Ii41Ii8+CiAgPC9nPgo8L3N2Zz4K");
  height: 30px;
  width: 100%;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: #282c34;
  margin-bottom: -7px;
  border-radius: 5px;
  background-position: 10px 10px;
}

.markdown-body .svg-markmap-box {
  min-height: 20rem;
  width: 100%;
}

.markdown-body .footnote-backref {
  display: none;
}

.markdown-body .footnotes {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.markdown-body .footnotes hr:first-child {
}