.markdown-body {
}

.markdown-body p {
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.8em;
  color: #3a3a3a;
}

.markdown-body h1 {
  font-size: 2.1em;
  line-height: 1.1em;
  padding-top: 16px;
  padding-bottom: 10px;
  margin-bottom: 4px;
  border-bottom: 1px solid #c99833;
}

.markdown-body h1 {
  color: #515151;
  font-weight: 700;
}

.markdown-body h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  margin-top: 2.2em;
  margin-bottom: 4px;
}

.markdown-body h1:after {
}

.markdown-body h2 {
  margin-bottom: 35px;
}

.markdown-body h2 {
  display: inline-block;
  font-weight: bold;
  background: linear-gradient(#fff 60%, #ffb11b 40%);
  color: #515151;
  padding: 2px 13px 2px;
  margin-right: 3px;
  height: 50%;
}

.markdown-body h2:after {
}

.markdown-body h3 {
  line-height: 1.4;
  padding-top: 10px;
  margin: 10px 0 5px;
}

.markdown-body h3 .content {
  color: #515151;
  font-weight: 700;
  font-size: 1.0em;
  padding-left: 20px;
  border-left: 3px solid #f9bf45;
}

.markdown-body h3:after {
}

.markdown-body blockquote {
  background: #fff5e3;
  display: block;
  overflow: auto;
  border-left: 3px solid rgba(0, 0, 0, 0.4);
  border-left-color: #ffb11b;
  color: #6a737d;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-left-color: #ffb11b;
  background: #fff5e3;
}

.markdown-body blockquote p {
  color: #595959;
  margin: 0;
  line-height: 26px;
}

.markdown-body a {
  border: none;
  text-decoration: none;
  color: #dda52d;
}

.markdown-body a:hover {
  color: #f9bf45;
  text-decoration: underline;
}

.markdown-body ul {
}

.markdown-body ol {
}

.markdown-body li section {
}

.markdown-body strong {
}

.markdown-body em {
}

.markdown-body em strong {
}

.markdown-body del {
  color: #d19826;
}

.markdown-body hr {
  border-top: 1px solid #f9bf45;
  margin: 20px 0px;
}

.markdown-body img {
  width: 100%;
  border-radius: 5px;
  display: block;
  margin-bottom: 15px;
  height: auto;
}

.markdown-body figcaption {
  color: #dda52d;
  font-size: 14px;
}

.markdown-body p code, .markdown-body li code {
  color: #9b6e23;
  background-color: #fff5e3;
  padding: 3px;
  margin: 3px;
}

.markdown-body pre code {
}

.markdown-body table tr th,
.markdown-body table tr td {
  text-align: center;
}

.markdown-body .footnotes {
  color: #ffb11b;
  padding: 3px;
}

.markdown-body .footnote-ref {
  color: #dda52d;
  margin: 2px;
  padding: 3px;
}

.markdown-body .footnotes:before {
  margin: 30px 0px 15px 0px;
  font-weight: 800;
}

.markdown-body .footnote-num {
}

.markdown-body .footnote-item p {
}

.markdown-body .footnote-item p em {
}

.markdown-body .block-equation svg {
}

.markdown-body .inline-equation svg {
}

.markdown-body .imageflow-img {
  display: inline-block;
  width:100%;
  margin-bottom: 0;
}
